<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>963054344706-nt0fctiahbivrqj9b355g55oj19103jc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.963054344706-nt0fctiahbivrqj9b355g55oj19103jc</string>
	<key>API_KEY</key>
	<string>AIzaSyDtbUvce9Qd7rarbF5heRpPtI2aEm6aHt0</string>
	<key>GCM_SENDER_ID</key>
	<string>963054344706</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Piggy</string>
	<key>PROJECT_ID</key>
	<string>piggyno1-e0b83</string>
	<key>STORAGE_BUCKET</key>
	<string>piggyno1-e0b83.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:963054344706:ios:0f0e75e0a4d0371a</string>
	<key>DATABASE_URL</key>
	<string>https://piggyno1-e0b83.firebaseio.com</string>
</dict>
</plist>